name: "ss-task"
services:
  app:
    build:
      dockerfile: Dockerfile
    volumes:
      - ".:/var/www/html"
    ports:
      - "7777:80"
    depends_on:
      - db
      - typesense
  db:
    image: mysql:8
    ports:
      - "6666:3306"
    command:
      mysqld
      --character-set-server=UTF8MB4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES UTF8MB4;'
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=ss-task-db
  typesense:
    image: typesense/typesense:29.0
    restart: on-failure
    ports:
      - "5555:8108"
    environment:
      TYPESENSE_API_KEY: ${TYPESENSE_API_KEY}
    volumes:
      - "typesense_data:/data"
volumes:
  typesense_data: